
.btncolor {
     background-color: #4CAF50;
     color: white;
     padding: 10px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
}
.btncolor:hover {
    background-color: #6495ED;
}
