
#btncolor {
     background-color: #4CAF50;
     color: white;
     border: none;
     border-radius: 4px;
     cursor: pointer;
}

#btncolor:hover {
    background-color: #6495ED;
}

#toolbar {
  background-color: #505050;
  position: fixed;
 /* padding:15px 20px; */
}

#greyColor {
  background-color: #505050;
}

#sidebarButton {
  /* background-color: #505050; */
  margin-top: 1%;
}

.errorMessage {
  color: red;
  font-size: 15px;
}

.sideBar {
  position:fixed;
  margin-top:64px;
  width : 18%;
}

.sideBarContent {
  margin-left: 25px;
}

#dashboardCard{
  padding-top: 5%;
}
