
<div layout="row" style="padding-top:10%">

       <table style="border-collapse:collapse; width: 100%;">
         <tr>
           <th> Items </th>
           <th> Item Names </th>
           <th> Price </th>
           <th> Quantity </th>
           <th> Amount </th>
         </tr>

       <tr ng-repeat="product in arrayData">
         <td><img ng-src="{{product.image.small}}"  alt="images" height="80" width="80"/></td>
         <td>{{product.name}}</td>
         <td>{{product.price | currency}}</td>
         <td>
           <select ng-model = "quantity" ng-options = "range for range in ranges" ng-change = "cartSum(product,quantity)" ng-init = "cartSum(product,1)">
           </select>
     </td>
     <td>
        {{product.sum | currency}}
      </td>
   </tr>
<tr>
  <th> Total </th>
  <td> {{total}} </td>
</tr>
     </table>
</div>
