<div class='md-padding' layout='row'  layout-wrap flex-gt-xm="30" id="dashboardCard">
    <div layout="column" ng-repeat="product in jsonData | selectedTags:selected" flex="33">
      <md-card>
        <md-card-header>
          <span class="md-headline">{{product.name}}</span>
        </md-card-header>
        <md-card-content>
          <img ng-src="{{product.image.small}}"  alt="images" flex="100"/>
            <p><strong>Manufacturer:</strong> {{product.specs.manufacturer}}</p>
            <p><strong>Storage:</strong> {{product.specs.storage}}</p>
            <p><strong>OS:</strong> {{product.specs.os}}</p>
            <p><strong>Camera:</strong> {{product.specs.camera}}</p>
            <p><strong>Price:</strong> {{product.price}}$</p>
          <md-card-actions  layout="row" layout-align="end center">
            <md-button class="md-raised md-primary"  ng-click='showAdvanced($state,product)'>View</md-button>
            <md-button class="md-raised md-primary" ng-click='showAlert($state)'>Buy Now</md-button>
          </md-card-actions>
      </md-card-content>
      </md-card>
    </div>
</div>
