<div class='md-padding' layout='row'  layout-wrap style="margin-top:80px" >
    <div layout="column" ng-repeat="product in jsonData" flex="33">
      <md-card>
        <md-card-header>
          <span class="md-headline">{{product.name}}</span>
        </md-card-header>
        <md-card-content>
          <img ng-src="{{product.image.small}}"  alt="images" flex="100"/>
            <div class="md-headline">Manufacturer: {{product.specs.manufacturer}}</div>
            <div class="md-headline">Storage: {{product.specs.storage}}</div>
            <div class="md-headline">OS: {{product.specs.os}}</div>
            <div class="md-headline">Camera : {{product.specs.camera}}</div>
          <md-card-actions  layout="row" layout-align="end center">
            <md-button class="md-raised md-primary">View</md-button>
            <md-button class="md-raised md-primary">Buy Now</md-button>
          </md-card-actions>
      </md-card-content>
      </md-card>
    </div>
</div>
