<md-toolbar layout="row" id="toolbar">
  <md-button id="sidebarButton" class="md-icon-button" ng-click="toggleLeft()" md-component-id='left' aria-label="Settings">
      <span> <md-icon><i class="material-icons">menu</i></md-icon></span></md-button>
      <span class="md-toolbar-tools"><strong>Online Mobile Shopping App</strong></span>
  <md-button class="md-raised md-primary" id="greyColor" height="3" layout-algin="right" style="font-weight:bold" ng-click="login()">Logout</md-button>
</md-toolbar>
