<md-toolbar layout="row" id="toolbar" >

  <md-button id="sidebarButton" class="md-raised md-primary md-icon-button" ng-click="toggleLeft()" md-component-id='left' aria-label="Settings">
      <span> <md-icon><i class="material-icons">menu</i></md-icon></span>
      </md-button>
      <span class="md-toolbar-tools" style="size:30; font-weight:bold">Online Mobile Shopping App</span>
      <md-button class="md-raised md-primary material-cust-large-button" id="greyColor"height="3" layout-algin="right" style="font-weight:bold" ng-click="login()">Logout</md-button>

</md-toolbar>
