<md-toolbar layout="row" style="background-color: #505050; position: fixed; padding:15px 20px">
  <md-button class="md-icon-button" aria-label="Settings">
          <md-icon md-font-icon="{{ menu }}" ng-click="toggleLeft()"></md-icon>
      </md-button>
      <span class="md-toolbar-tools" style="size:30; font-weight:bold">Single Page App Without A Framework!</span>
      <md-button class="md-raised md-primary material-cust-large-button" height="3" layout-algin="right" style="font-weight:bold">Logout</md-button>
</md-toolbar>
